@model Projekt.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfEvent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfEvent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfEvent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlaceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-controller="Place" asp-action="Index">Places</a>
</div>