@model IEnumerable<Projekt.Models.Event>
@using Microsoft.AspNetCore.Identity
@using Projekt.Areas.Identity.Data
@using Projekt.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EventName) </th>
                <th>@Html.DisplayNameFor(model => model.TypeOfEvent) </th>
                <th>@Html.DisplayNameFor(model => model.DateOfEvent) </th>
                <th>@Html.DisplayNameFor(model => model.TicketPrice) </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            if (item.DateOfEvent > DateTime.Now)
            {
                <tr>               
                <td>@Html.DisplayFor(modelItem => item.EventName)</td>
                <td>@Html.DisplayFor(modelItem => item.TypeOfEvent)</td>
                <td>@Html.DisplayFor(modelItem => item.DateOfEvent)</td>
                <td>@Html.DisplayFor(modelItem => item.TicketPrice)</td>
                <td>
                    <a asp-controller="Event" asp-action="DetailsUser" asp-route-id="@item.EventId">Details</a>
                </td>
                <td>
                        <div>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a asp-controller="Ticket" asp-action="Create">Buy</a>
                            }
                        </div>
                </td>

            </tr>
            }
        }
    </table>
</div>
